<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Autopraisal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autopraisal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Autopraisal.Properties.Settings>
            <setting name="CheckForEve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressOres" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Percentage" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Market" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitoringEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Autopraisal.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Autopraisal.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v0.2</value>
            </setting>
        </Autopraisal.Properties.Settings>
    </applicationSettings>
</configuration>
